# 在~/.bashrc中加入eval "$(direnv hook bash)"
# direnv allow
dotenv_if_exists
export CLAUDE_CONFIG_DIR=$(expand_path .claude)
export GEMINI_CONFIG_DIR=$(expand_path .gemini)
export CODEX_HOME=$(expand_path .codex)
